# Testing Preparation: Split data to be able to run tests

Currently, I don't have the compute power to run tests, so in odrer to perform testing, I'm going to split the data into smaller chunk that will be used in the experiment.

**Data split strategy:**
- Pick x users
- Pick only merchant and edges connected to remained users

In [1]:
import pandas as pd

In [2]:
users_df = pd.read_csv("../data/silver/df_nodes_user_raw.csv")
merchants_df = pd.read_csv("../data/silver/df_nodes_merchant_raw.csv")
edges_pd = pd.read_csv("../data/silver/df_edges_raw.csv")

In [3]:
display(users_df)

,user_id,Person,Current Age,Retirement Age,Birth Year,Birth Month,Gender,Address,Apartment,City,State,Zipcode,Latitude,Longitude,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards
0,0,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,CA,91750,34.15,-117.76,$29278,$59696,$127613,787,5
1,1,Sasha Sadr,53,68,1966,12,Female,3606 Federal Boulevard,NaN,Little Neck,NY,11363,40.76,-73.74,$37891,$77254,$191349,701,5
2,2,Saanvi Lee,81,67,1938,11,Female,766 Third Drive,NaN,West Covina,CA,91792,34.02,-117.89,$22681,$33483,$196,698,5
3,3,Everlee Clark,63,63,1957,1,Female,3 Madison Street,NaN,New York,NY,10069,40.71,-73.99,$163145,$249925,$202328,722,4
4,4,Kyle Peterson,43,70,1976,9,Male,9620 Valley Stream Drive,NaN,San Francisco,CA,94117,37.76,-122.44,$53797,$109687,$183855,675,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,Jose Faraday,32,70,1987,7,Male,6577 Lexington Lane,9.0,Freeport,NY,11520,40.65,-73.58,$23550,$48010,$87837,703,3
1996,1996,Ximena Richardson,62,65,1957,11,Female,2 Elm Drive,955.0,Independence,KY,41051,38.95,-84.54,$24218,$49378,$104480,740,4
1997,1997,Annika Russell,47,67,1973,1,Female,276 Fifth Boulevard,NaN,Elizabeth,NJ,7201,40.66,-74.19,$15175,$30942,$71066,779,3
1998,1998,Juelz Roman,66,60,1954,2,Male,259 Valley Boulevard,NaN,Camp Hill,PA,17011,40.24,-76.92,$25336,$54654,$27241,618,1
1999,1999,Kenia Harris,21,60,1998,11,Female,472 Ocean View Street,NaN,Merrimack,NH,3054,42.86,-71.48,$32325,$65909,$181261,673,2

In [4]:
df_user_limited = users_df[users_df['user_id'] < 100]

In [5]:
edges_pd = edges_pd.rename(columns={'User': 'user_id'})

In [6]:
df_edges_filtered = pd.merge(
    edges_pd,
    df_user_limited[['user_id']], # Bierzemy tylko kolumnę USER_ID z df_USERS
    on='user_id',
    how='inner'
)

df_merchants_filtered = pd.merge(
    merchants_df,
    df_edges_filtered[['merchant_id']].drop_duplicates(), # Bierzemy tylko kolumnę USER_ID z df_USERS
    on='merchant_id',
    how='inner'
)

## Save limited datasets

In [7]:
df_edges_filtered.to_csv("../data/silver/u100_df_edges_raw.csv", index=False)
df_user_limited.to_csv("../data/silver/u100_df_nodes_user_raw.csv", index=False)
df_merchants_filtered.to_csv("../data/silver/u100_df_nodes_merchant_raw.csv", index=False)